<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/search" method="get">
        <p><h4>Brand:</h4></p>
        <p><input type="text" name="Brand"></p>
        <p><input type="text" name="Model"></p>
        <p><input type="radio" name="Result" value="Pass">Pass<input type="radio" name="Result" value="Fail">Fail</p>
        <p><input type="submit" value="Add"></p>        
    </form>
    <h1>Select Router</h1>
</body>
</html>